<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/AulasPython_Se%C3%A7%C3%A3o_7_Cole%C3%A7%C3%B5es_Python_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuplas**  
São parecidas com as listas.  
Existem basicamente duas diferenças básicas:


*   Parênteses ()
*   As tuplas são imutáveis. Não podem ser modificadas.   

### Cuidado 1
tupla1 = (1, 2, 3, 4)  
tupla2 = 1, 2, 3, 4  
Repare que as duas formas são tuplas  
### Cuidado 2
tupla3 = (4) -> Não é uma tupla, é um int.  
tupla4 = (4,) -> É uma tupla.  

### Conclusão: As tuplas são definidas pela vírgula.  
tupla5 = 4, -> É uma tupla.

Gerando tuplas com range

In [ ]:
tupla0 = tuple(range(11))
tupla0

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Desempacotamento de tupla

In [ ]:
tupla1 = ('Jackson',  'Guedes')

In [ ]:
nome, sobrenome = tupla1
print(nome)
print(sobrenome)

Jackson
Guedes

Valor Max, Min e Tamanho

In [ ]:
tupla2 = (1, 78, 3, 31, 90, 11)

print(max(tupla2))
print(min(tupla2))
print(len(tupla2))
print(sum(tupla2))

90
1
6
214

Concatenação de tuplas

In [ ]:
tupla3 = (1, 2, 3)
tupla4 = (4, 5, 6)

print(tupla3)
print(tupla3 + tupla4) # Tuplas são imutáveis

tupla5 = tupla3 + tupla4
tupla3 = tupla3 + tupla5 # Tuplas são imutáveis, mas podemos sobrescrever seus valores

print(tupla5)
print(tupla3)

(1, 2, 3)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 4, 5, 6)

Verificando se determinado elemento está contido na tupla

In [ ]:
tupla6 = (1,55,99)
print(1 in tupla6)

True

Contando elementos dentro de uma tupla

In [3]:
tupla7 = ('a', 'b', 'c','a','a','h','c','d')
print(tupla7.count('a'))

3

Transformando uma string em tupla

In [4]:
rua = tuple('Dom José de Medeiros')
print(rua)

('D', 'o', 'm', ' ', 'J', 'o', 's', 'é', ' ', 'd', 'e', ' ', 'M', 'e', 'd', 'e', 'i', 'r', 'o', 's')

### Devemos utilizar tuplas SEMPRE que não precisarmos modoficar os dados contidos em uma coleção

Exemplo 1

In [7]:
meses_do_ano = ('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
# Faz mais sentido do que usar a lista. Ninguém pode modificar

Verificando em qual índice um elemento está na tupla

In [8]:
print(meses_do_ano.index('Junho'))

5

Por quê utilizar tuplas?  

*   Tuplas são mais rápidas do que as listas
*   Tuplas deixam o código mais seguro. Devidoa imutabilidade

Copiando tupla para outra

In [9]:
tupla8 = (1,2,3)
print(tupla8)

nova0 = tupla8

print(nova0)
print(tupla8)

outra = (4,5,6)
nova1 = nova0 + outra

print(nova1)
print(tupla8)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
(1, 2, 3, 4, 5, 6)
(1, 2, 3)