<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/AulasPython_Se%C3%A7%C3%A3o_7_Cole%C3%A7%C3%B5es_Python_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Coleções Python - Listas**  
Listas em Python  funciona como vetores/matrizes (arrays) em outras linguagens, com a diferença de serem DINÂMICO e tamanho de podermos colocar QUALQUER tipo de dado.  
- Não possuem  tamanho fixo; Ou seja, podem, os criar a lista e simplesmente ir adicionando  elemento.  
- Qualquer tipo de dado: Não possuem tipo de dado fixo; Ou seja, podemos colocar qualquer tipo de dado.

In [2]:
# Tipos de listas

lista1 = [1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23]
lista2 = ['j', 'a', 'c', 'k', 's', 'o', 'n']
lista3 = []
lista4 = list(range(11))
lista5 = list('Jackson Guedes')

Podemos facilmente checar se determinado valor está contido na lista

In [ ]:
num = 278
tipo_lista = lista1

if num in tipo_lista:
  print(f'Encontrei o {num}!')
else:
  print(f'Não encontrei o {num}!')

Encontrei o 278!

In [ ]:
procura = 'a'
tipo_lista = lista5

if procura in tipo_lista:
  print(f'Encontrei o {procura}!')
else:
  print(f'Não encontrei o {procura}!')

Encontrei o a!

Ordenando uma lista

In [ ]:
lista1.sort()
print(lista1)

[1, 7, 12, 23, 33, 35, 45, 56, 66, 90, 278]

In [ ]:
lista2.sort() # Se tiver letras maiúsculas na lista, elas serão as primeiras.
print(lista2)

['a', 'c', 'j', 'k', 'n', 'o', 's']

Contando o número de ocorrências de um valor em uma lista

In [ ]:
print(lista1.count(1))
print(lista5.count('e')) # Há diferêncas entre maiúsculas e minúsculas

1
2

Adicionando elementos em uma listas. Para isso, utilizá-se a funçã *append*.

In [ ]:
print(lista1)
lista1.append(23) # Só dá para add um elemento por vez
print(lista1)

[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42]
[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42, 23]

In [ ]:
print(lista1)
lista1.append([45, 66, 79]) # Add um elemento do tipo lista (sublista)
print(lista1)

[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42, 23]
[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42, 23, [45, 66, 79]]

In [ ]:
if [45, 66, 79] in lista1:
  print('Encontrei a lista!')
else:
  print('Não encontrei a lista!')

Encontrei a lista!

In [ ]:
lista1.extend([123, 456, 987])# Mesma função do APPEND, porém add os elementos individualmente
print(lista1)

[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42, 23, [45, 66, 79], 123, 456, 987]

Adicionando um novo elemento na lista informando a posição do índice

In [ ]:
lista1.insert(2, 'Cavalo') # Isso não substitui o valor inicial. O mesmo será deslocado para a direita da lista.
print(lista1)

[1, 45, 'Cavalo', 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42, 23, [45, 66, 79], 123, 456, 987]

Juntando duas listas

In [3]:
soma_lista = lista1 + lista4
print(soma_lista)

[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Invertendo os elementos da lista

In [4]:
print(lista1)

[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23]

In [5]:
lista1.reverse()
print(lista1)

[23, 33, 90, 12, 66, 56, 278, 35, 7, 45, 1]

In [6]:
print(lista1[::-1]) # Outra forma de inverter

[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23]

Copiando uma lista

In [8]:
copia_lista1 = lista1.copy()
copia_lista1

[23, 33, 90, 12, 66, 56, 278, 35, 7, 45, 1]

Contando a quantidade de elementos em uma lista

In [9]:
print(len(lista1))

11

Removendo o último elemento de uma lista

In [10]:
print(copia_lista1)
copia_lista1.pop() # Além de remover o último elemento, ele retorna o mesmo.
print(copia_lista1)

[23, 33, 90, 12, 66, 56, 278, 35, 7, 45, 1]
[23, 33, 90, 12, 66, 56, 278, 35, 7, 45]

In [11]:
copia_lista1.pop()

45

Removendo elementos pelo índice

In [15]:
print(lista5)
copia_lista5 = lista5.copy()
print(copia_lista5.pop(2))
print(copia_lista5)

['J', 'a', 'c', 'k', 's', 'o', 'n', ' ', 'G', 'u', 'e', 'd', 'e', 's']
c
['J', 'a', 'k', 's', 'o', 'n', ' ', 'G', 'u', 'e', 'd', 'e', 's']

Removendo todos os elementos da lista

In [16]:
print(copia_lista5)
copia_lista5.clear()
print(copia_lista5)

['J', 'a', 'k', 's', 'o', 'n', ' ', 'G', 'u', 'e', 'd', 'e', 's']
[]

Repetindo os elementos de uma lista

In [17]:
list_repetida = [1, 2, 3]
print(list_repetida)
list_repetida = list_repetida * 3
print(list_repetida)

[1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

Convertendo uma string em uma lista

Exemplo 1 - Separador espaço

In [20]:
# Por padrão, o split separa os elementos da lista pelo espaço entre elas

curso = 'Engenharia Elétrica com ênfase em Controle e Automação, Eletrônica e Proteção de Sistemas elétricos'
print(curso)
curso = curso.split()
print(curso)

Engenharia Elétrica com ênfase em Controle e Automação, Eletrônica e Proteção de Sistemas elétricos
['Engenharia', 'Elétrica', 'com', 'ênfase', 'em', 'Controle', 'e', 'Automação,', 'Eletrônica', 'e', 'Proteção', 'de', 'Sistemas', 'elétricos']

Exemplo 2 - Separador vírgula

In [22]:
curso = 'Jackson,da,Silva,Guedes'
print(curso)
curso = curso.split(',')
print(curso)

Jackson,da,Silva,Guedes
['Jackson', 'da', 'Silva', 'Guedes']

Convertendo uma lista em uma string

In [24]:
nome = ['Jackson', 'da', 'Silva', 'Guedes']
print(nome)
nome1 = ' '.join(nome) # Pega a lista nome, coloca espaço entre os elementos e transforma em uma string
print(nome1)

['Jackson', 'da', 'Silva', 'Guedes']
Jackson da Silva Guedes

Vários elementos diferentes em uma lista

In [49]:
diference_list = [1, 3.14,'Elétrica', True, 'j', [1, 2, 3], 3459876456]
print(diference_list)
print(type(diference_list))

[1, 3.14, 'Elétrica', True, 'j', [1, 2, 3], 3459876456]
<class 'list'>

Iterando sobre as listas

Exemplo 1 - Utilizando for

In [28]:
for elemento in lista5:
  print(elemento, end = ' ')

J a c k s o n   G u e d e s

In [33]:
soma = ' '
for elemento in lista5:
  print(elemento)
  soma = soma + elemento
print(soma)

J
a
c
k
s
o
n

G
u
e
d
e
s
 Jackson Guedes

Exemplo 2 - Utilizando while

In [36]:
carrinho = []
produto = ''

while produto != 'sair':
  print("Adicione um produto na listCoa ou digite 'sair': ")
  produto = input()
  if produto != 'sair':
    carrinho.append(produto)

for produto in carrinho:
  print(produto)

Adicione um produto na lista ou digite 'sair':
Televisão
Adicione um produto na lista ou digite 'sair':
Notebook Dell
Adicione um produto na lista ou digite 'sair':
Geladeira
Adicione um produto na lista ou digite 'sair':
sair
Televisão
Notebook Dell
Geladeira

Utilizando os índices

In [44]:
cores = ['verde', 'amarelo', 'azul', 'branco']
indice = 0

while indice < len(cores):
  print(cores[indice])
  indice = indice + 1

verde
amarelo
azul
branco

Gerando indice em um for

In [45]:
for indice, cor in enumerate(cores):
  print(indice, cor)

0 verde
1 amarelo
2 azul
3 branco

In [47]:
cor = list(enumerate(cores))
cor

[(0, 'verde'), (1, 'amarelo'), (2, 'azul'), (3, 'branco')]

**Encontrando o índice de um elemento na lista** - Bem útil

In [63]:
print(diference_list)
print(diference_list.index('Elétrica'))
print(diference_list.index(True)) # Note que apareceu o índice do número 1

[1, 3.14, 'Elétrica', True, 'j', [1, 2, 3], 3459876456]
2
0

In [64]:
print(diference_list.index(True, 1)) # Achar o índice de 'True' a partir do índice 1

3

Revisão de slicing

In [74]:
lista7 = [1, 2, 3, 4, 5, 6, 7, 8]
# lista7[inicio:fim:passo]

print(lista7[2::]) # Imprime a partir do índice 2
print(lista7[::])  # Imprime tudo
print(lista7[::2]) # Imprime com um passo de 2
print(lista7[:6:]) # Imprime os números até 6 -> começa em 0, e vai até o índice 6-1

[3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 7]
[1, 2, 3, 4, 5, 6]

Se os valores forem todos inteiros ou reais, é possível somar, achar o valor máximo e valor mínimo.

In [76]:
numeros = [1, 45, 8, 33, 2]

print(sum(numeros))  # Soma
print(max(numeros))  # Valor máximo
print(min(numeros))  # Valor mínimo
print(len(numeros))  # Tamanho da lista

89
45
1
5

Copiando uma lista para outra (Shallow Copy e Deep Copy)

Veja que ao utilizarmos lista.copy() copiamos os dados da lista para uma nova lista, mas elas ficaram totalmente independente, ou seja, modificando uma lista, não afeta a outra. Isso em Python é chamado de ***Deep Copy*** (Cópia Profunda)

In [77]:
num = [2, 3 ,9, 4]
print(num)
copy_list = num.copy()
print(copy_list)
copy_list.append(63)
print(num)
print(copy_list)

[2, 3, 9, 4]
[2, 3, 9, 4]
[2, 3, 9, 4]
[2, 3, 9, 4, 63]

Veja quer utilizamos a cópia via atribuição e copiamos os dados da lista para a nova lista, mas após realizar modificações em uma das listas, essa modificação se refletiu em ambas as listas. Isso em Python é chamado de Shallow Copy

In [79]:
print(num)
novo_num = num
print(novo_num)
novo_num.append(987)

print(num)
print(novo_num)

[2, 3, 9, 4]
[2, 3, 9, 4]
[2, 3, 9, 4, 987]
[2, 3, 9, 4, 987]