<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/AulasPython_Se%C3%A7%C3%A3o_6_Estruturas_de_Repeti%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

# **Estrutura de repetiÃ§Ã£o**  
## For  
 **for item in interavel:  
  // execuÃ§Ã£o de loop**

Utilizamos loops para iterar sobre sequÃªncias ou sobre valores iterÃ¡veis  
Exemplos de iterÃ¡veis:
- Strings
- Listas

In [ ]:
nome = 'Jackson Guedes'
lista = [1, 7, 9, 13, 17]
numeros = range(1,10)

Exemplo 1 -  Iterando sobre uma String

In [ ]:
for letra in nome:
  print(letra)

J
a
c
k
s
o
n

G
u
e
d
e
s

Exemplo 2 -  Iterando sobre uma lista

In [ ]:
for numero in lista:
  print(numero)

1
7
9
13
17

Exemplo 3 - Iterando sobre um range

In [ ]:
for num in numeros:
  print(num)

1
2
3
4
5
6
7
8
9

Utilizando o Enumerate

In [ ]:
for indice, letra in enumerate(nome):
  print(nome[indice]) # print(letra)

J
a
c
k
s
o
n

G
u
e
d
e
s

Imprimindo as letras na horizontal

In [ ]:
for letra_horizontal in nome:
  print(letra_horizontal, end = '')

Jackson Guedes

In [ ]:
for valor in enumerate(nome):
  print(valor)

(0, 'J')
(1, 'a')
(2, 'c')
(3, 'k')
(4, 's')
(5, 'o')
(6, 'n')
(7, ' ')
(8, 'G')
(9, 'u')
(10, 'e')
(11, 'd')
(12, 'e')
(13, 's')

Exemplo 4

In [ ]:
qtd = int(input('Quantos nÃºmeros vocÃª quer imprimir na tela?: '))
for n in range(1, qtd + 1):
  print(f'Imprimindo {n}')

Quantos nÃºmeros vocÃª quer imprimir na tela?: 7
Imprimindo 1
Imprimindo 2
Imprimindo 3
Imprimindo 4
Imprimindo 5
Imprimindo 6
Imprimindo 7

In [ ]:
qtd1 = int(input('Informe quantas vezes o for deve rodar: '))
soma = 0

for n in range(1, qtd1 + 1):
  num1 = int(input(f'Informe o {n}/{qtd1}: '))
  soma = soma + num1
print(f'A soma dos valores Ã©: {soma}')

Informe quantas vezes o for deve rodar: 3
Informe o 1/3: 1
Informe o 2/3: 2
Informe o 3/3: 5
A soma dos valores Ã©: 8

Imprimindo Emoticon

In [ ]:
for _ in range(3):
  for num in range(1, 10):
    print('\U0001F92F' * num)

ðŸ¤¯
ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯
ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯
ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯
ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯ðŸ¤¯

# Entendendo Ranges

Exemplo 1

In [ ]:
for a in range(10):
  print(a, end = ' ')

0 1 2 3 4 5 6 7 8 9

Exemplo 2

In [ ]:
for b in range(3, 10):
  print(b, end = ' ')

3 4 5 6 7 8 9

Exemplo 3 - com passo

In [ ]:
for c in range(0, 10, 2):
  print(c, end = ' ')

0 2 4 6 8

Exemplo 4 - passo negativo

In [ ]:
for d in range(10, 0, -1):
  print(d, end = '')

10987654321

Utilizando uma lista

In [ ]:
lista = list(range(10, 0, -1)) # Precisa  converter em uma lista
lista

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## While

Exemplo 1

In [ ]:
numero = 1

while numero < 10:
  print(numero, end=' ')
  numero += 1

1 2 3 4 5 6 7 8 9

Exemplo 2

In [ ]:
resposta = ''

while resposta != 'ok':
  resposta = input('Digite uma palavra para sair do Loop: ')

Digite uma palavra para sair do Loop: Jackson
Digite uma palavra para sair do Loop: FeijÃ£o
Digite uma palavra para sair do Loop: Eng. ElÃ©trica
Digite uma palavra para sair do Loop: ok

In [ ]:
qtd = 1993
soma1 = 0
soma2 = 0

for numero in range(1, qtd + 1):
  if (round(float(numero / 7), 2) == 3.14):
      print(f'NÃºmero especial: {numero}')
      soma2 += 1
  elif (numero % 2 == 0):
    soma1 += 1
print(f'Total de nÃºmeros especiais: {soma2}')
print(f'Total de nÃºmeros pares: {soma1}')
print(f'Total de nÃºmeros Ã­mpares: {numero - soma1}')

NÃºmero especial: 22
Total de nÃºmeros especiais: 1
Total de nÃºmeros pares: 995
Total de nÃºmeros Ã­mpares: 998

## **ExercÃ­cios Python**

01)

In [ ]:
for num in range(1, 16):
    if (num % 3 == 0):
       print(num, end = ' ')

3 6 9 12 15

02)

In [ ]:
for num in range(1, 4):
  soma = 0
  print('\n')
  while soma < 100:
    soma += 1
    print(soma, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

03)

In [ ]:
contagem = 10
while contagem >= 0:
  print(contagem, end = ' ')
  contagem -= 1
print('\nFIM!')

10 9 8 7 6 5 4 3 2 1 0
FIM!

04)

In [ ]:

for i in range(0, 100100, 1000):
  print(i)

05)

In [ ]:
soma = 0

for n in range(1, 11):
  numeros = int(input(f'Digite um valor {n}/10: '))
  soma = soma + numeros

print(f'Soma total: {soma}')

Digite um valor 1/10: 5
Digite um valor 2/10: 5
Digite um valor 3/10: 20
Digite um valor 4/10: 30
Digite um valor 5/10: 10
Digite um valor 6/10: 6
Digite um valor 7/10: 4
Digite um valor 8/10: 10
Digite um valor 9/10: 10
Digite um valor 10/10: 10
Soma total: 110

06)

In [ ]:
soma = 0
qtd = 10
for i in range(1, 11):
  num = int(input('Digite uma nota: '))
  soma = soma + num
print(f'A mÃ©dia Ã©: {soma/qtd}')

Digite uma nota: 5
Digite uma nota: 2
Digite uma nota: 4
Digite uma nota: 6
Digite uma nota: 8
Digite uma nota: 1
Digite uma nota: 5
Digite uma nota: 9
Digite uma nota: 9
Digite uma nota: 9
A mÃ©dia Ã©: 5.8

07)

In [ ]:
for i in range(1, 11):
  num = int(input('Digite um valor: '))
  if num > 0:
    print(f'\tValor {num} vÃ¡lido ')

Digite um valor: 2
	Valor 2 vÃ¡lido
Digite um valor: 3
	Valor 3 vÃ¡lido
Digite um valor: 5
	Valor 5 vÃ¡lido
Digite um valor: -8
Digite um valor: -8
Digite um valor: -4
Digite um valor: -9
Digite um valor: -1
Digite um valor: 9
	Valor 9 vÃ¡lido
Digite um valor: -4

08)

In [ ]:
for i in range(1, 4):
  num = int(input('Digite um valor: '))
  if num < num: