<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/Comprehensions_list_comprehension_parte01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List Comprehension**  
- Utilizando list comprehension nós podemos gerar novas listas com dados processados a partir de outro iterável.

Exemplo 1

In [1]:
numeros = [1, 2, 3, 4, 5]

In [2]:
res = [numero * 10 for numero in numeros]

In [3]:
print(res)

[10, 20, 30, 40, 50]

Exemplo 2

In [4]:
res = [numero / 2 for numero in numeros]
print(res)

[0.5, 1.0, 1.5, 2.0, 2.5]

In [5]:
def funcao(valor):
  return valor * valor

In [6]:
res = [funcao(numero) for numero in numeros]

In [7]:
print(res)

[1, 4, 9, 16, 25]

Exemplo 3 - List comprehension versos Loop

Utilizando Loop

In [11]:
numeros = [1, 2, 3, 4, 5]
numeros_dobrados = []

In [12]:
for numero in numeros:
  numero_dobrado = numero * 2
  numeros_dobrados.append(numero_dobrado)

In [13]:
print(numeros_dobrados)

[2, 4, 6, 8, 10]

Utilizando List Comprehension

In [14]:
print([numero * 2 for numero in numeros])

[2, 4, 6, 8, 10]

Exemplo 4

In [15]:
nome = 'Jackson Guedes'

In [16]:
print([letra.upper() for letra in nome])

['J', 'A', 'C', 'K', 'S', 'O', 'N', ' ', 'G', 'U', 'E', 'D', 'E', 'S']

Exemplo 5

In [23]:
amigos = ['maria', 'julia', 'pedro','guilherme', 'vanessa']

In [24]:
def caixa_alta(nome):
  nome = nome.replace(nome[0], nome[0].upper())
  return nome

In [26]:
print([caixa_alta(amigo) for amigo in amigos])

['Maria', 'Julia', 'Pedro', 'Guilherme', 'Vanessa']

Exemplo 6

In [27]:
print([numero * 3 for numero in range(1, 10)])

[3, 6, 9, 12, 15, 18, 21, 24, 27]

Exemplo 7

In [28]:
print([bool(valor) for valor in [0, [], '', True, 1, 3.14]])

[False, False, False, True, True, True]

Exemplo 8

In [29]:
print([str(numero) for numero in [1, 2, 3, 4, 5]])

['1', '2', '3', '4', '5']