<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/Dictionary_Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dictionary Comprehension**   
Sintaxe:  

{chave:valor for valor in iterável}

Exemplo 1

In [1]:
numeros = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [3]:
quadrado = {chave : valor ** 2 for chave, valor in numeros.items()}
print(quadrado)

{'a': 1, 'b': 4, 'c': 9, 'd': 16, 'e': 25}

Exemplo 2

In [7]:
numeros = [1, 2, 3, 4, 5]

In [8]:
quadrados = {valor: valor ** 2 for valor in numeros}
print(quadrados)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Exemplo 3

In [10]:
chaves = 'abcde'
valores = [1, 2, 3, 4, 5]

In [11]:
mistura = {chaves[i]: valores[i] for i in range(0, len(chaves))}
print(mistura)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

Exemplos com lógica condicional

In [12]:
numeros = [1, 2, 3, 4, 5]

In [13]:
res = {num: ('par' if num % 2 == 0 else 'impar') for num in numeros}
print(res)

{1: 'impar', 2: 'par', 3: 'impar', 4: 'par', 5: 'impar'}