<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/Iterators_e_Iter%C3%A1veis_Parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Entendendo**

Iterator:  
- Um objetoque pode ser iterado.
- Um objeto que retorna um dado, sendo um elemento por vez quando uma função next() é chamada.

Iterable:  
- Um objeto que irá retornar um iterator quando a função iter() for chamada.

In [1]:
nome = 'Jackson' # Éumiterable, mas não é um iterator.
numeros = [1, 2, 3, 4, 5, 6] # É um iterable, mas não é um iterator.

In [2]:
print(next(nome)) # Não é um iterator

TypeError: 'str' object is not an iterator

In [3]:
print(next(numeros)) # Não é um iterator

TypeError: 'list' object is not an iterator

In [21]:
it1 = iter(nome)
it2 = iter(numeros)

In [14]:
print(next(it1))
print(next(it1))
print(next(it1))
print(next(it1))

J
a
c
k

In [22]:
print(next(it2))
print(next(it2))
print(next(it2))
print(next(it2))
print(next(it2))

1
2
3
4
5

In [23]:
nome = 'Jackson'

for letra in nome:
  print(f'{letra}') # Aplica a função iter() em nome

J
a
c
k
s
o
n

# **Criando a própria versão de Loop**

In [ ]:
def meu_for(interavel):
  it = iter(interavel)
  while True:
    try:
      print(next(it))
    except StopIteration:
      break

In [35]:
meu_for('Jackon Guedes')

J
a
c
k
o
n

G
u
e
d
e
s

In [36]:
num = [1, 2, 3]
meu_for(num)

1
2
3

# **Escrevendo um Iterador customizado**   
Criando um *range()*

In [37]:
for num in range(11):
  print(num)

0
1
2
3
4
5
6
7
8
9
10

In [51]:
class Contador:
  def __init__(self, menor, maior):
    self.menor = menor
    self.maior = maior

  def __iter__(self):
    return self

  def __next__(self):
    if self.menor < self.maior:
      numero = self.menor
      self.menor = self.menor + 1
      return numero
    raise StopIteration

In [52]:
con = Contador(1, 5)
print(con.menor)
print(con.maior)

1
5

In [57]:
con = Contador(1, 5)
it = iter(con)

print(next(it))
print(next(it))
print(next(it))
print(next(it))

1
2
3
4

In [58]:
for n in Contador(1, 20):
  print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19