<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Map**  
Com map, fazemos mapeamento de valores para função.   
- Dados: a1, a2, a3, a4
- Função: f(x)    

Utilizando a função map(f, dados) onde irá 'mapear' cada elemento dos dados e aplicar a função.
- O Map Object: f(a1), f(a2), f(a3), f(a4)

In [1]:
import math

In [2]:
def area(r):
  """
    Calcular a área de um círculo com raio 'r'.
  """
  return math.pi * (r ** 2)

In [4]:
print(area(2))
print(area(5.3))

12.566370614359172
88.24733763933729

Porém , imagine uma lista com vários valores de raio.

In [6]:
raios = [2, 5, 7.1, 0.3, 10, 44]

Forma comum

In [7]:
areas = []
for r in raios:
  areas.append(area(r))

print(areas)

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793, 6082.12337734984]

Forma utilizando o MAP    
Map é uma função que recebe dois parâmetros: o primeiro a função, o segundo um iterável. Além disso, retorna um Map Object

In [8]:
areas = map(area, raios)
print(list(areas))

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793, 6082.12337734984]

Forma utilizando Map e Lambda

In [9]:
print(list(map(lambda r: math.pi * (r ** 2), raios)))

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793, 6082.12337734984]

OBS: Após utilizar a função map() depois da primeira utilização do resultado, ele zera.

Exemplo 1

In [10]:
cidades = [('Berlim', 29), ('Cairo', 36), ('Buenos Aires', 19), ('Los Angeles', 26), ('Tokio', 27), ('Nova York', 28), ('Londres', 22)]
print(cidades)

[('Berlim', 29), ('Cairo', 36), ('Buenos Aires', 19), ('Los Angeles', 26), ('Tokio', 27), ('Nova York', 28), ('Londres', 22)]

Transformar graus em fahrenheit

Função: 9/5 * c + 32

In [11]:
celsius_para_fahr = lambda dado: (dado[0], (9/5 * dado[1] + 32))

In [12]:
print(list(map(celsius_para_fahr,cidades )))

[('Berlim', 84.2), ('Cairo', 96.8), ('Buenos Aires', 66.2), ('Los Angeles', 78.80000000000001), ('Tokio', 80.6), ('Nova York', 82.4), ('Londres', 71.6)]