<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/Sorted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sorted**  
OBS : Não confundir, apesar do nome, com a função sort(). O sort() só funciona em listas.

In [3]:
# Relembrando a função sort()

lista = [4, 7, 3, 8, 1, 4 , 2]
print(lista)
lista.sort()
print(lista)

# Ordena e altera a própria lista

[4, 7, 3, 8, 1, 4, 2]
[1, 2, 3, 4, 4, 7, 8]

Exemplo sorted()

In [4]:
numeros = [6, 1, 8, 2]
print(numeros)

print(sorted(numeros))
print(numeros)

# Não modifica a própria lista, diferente da sort(). Essa função cria uma nova lista.

[6, 1, 8, 2]
[1, 2, 6, 8]
[6, 1, 8, 2]

Mesmo exemplo utilizando tupla

In [5]:
numeros = (6, 1, 8, 2)
print(numeros)

print(sorted(numeros))
print(numeros)

# Observe que ele retorna uma lista

(6, 1, 8, 2)
[1, 2, 6, 8]
(6, 1, 8, 2)

Exemplo utilizando Set

In [6]:
numeros = {6, 1, 8, 2}
print(numeros)

print(sorted(numeros))
print(numeros)

# Observe que ele retorna uma lista

{8, 1, 2, 6}
[1, 2, 6, 8]
{8, 1, 2, 6}

Utilizando os parâmetros do sorted()

In [7]:
numeros = [6, 1, 8, 2]

# Adicionando parâmetros ao sorted()

print(sorted(numeros, reverse = True)) # Ordena do maior para o menos

[8, 6, 2, 1]

Podemos utilizar o sorted() para coisas mais complexas

Exemplo 1

In [8]:
usuarios = [
    {"username": "samuel", "tweets": ["Eu adoro bolos", "Eu adoro pizzas"]},
    {"username": "carla", "tweets": ["Eu amo meu gato"]},
    {"username": "jeff", "tweets": []},
    {"username": "bob123", "tweets": [], "cor": "amarelo"},
    {"username": "doggo", "tweets": ["Eu gosto de cachorros", "Vou sair hoje"]},
    {"username": "gal", "tweets": [], "cor": "preto", "musica": "rock"}
]

In [12]:
print(usuarios)

[{'username': 'samuel', 'tweets': ['Eu adoro bolos', 'Eu adoro pizzas']}, {'username': 'carla', 'tweets': ['Eu amo meu gato']}, {'username': 'jeff', 'tweets': []}, {'username': 'bob123', 'tweets': []}, {'username': 'doggo', 'tweets': ['Eu gosto de cachorros', 'Vou sair hoje']}, {'username': 'gal', 'tweets': []}]

In [13]:
# Ordenando por username - Ordem Alfabética
print(sorted(usuarios, key = lambda usuario:['username']))

[{'username': 'samuel', 'tweets': ['Eu adoro bolos', 'Eu adoro pizzas']}, {'username': 'carla', 'tweets': ['Eu amo meu gato']}, {'username': 'jeff', 'tweets': []}, {'username': 'bob123', 'tweets': []}, {'username': 'doggo', 'tweets': ['Eu gosto de cachorros', 'Vou sair hoje']}, {'username': 'gal', 'tweets': []}]

In [15]:
# Ordenando pelo número de tweets
print(sorted(usuarios, key = lambda usuario: len(usuario["tweets"])))

[{'username': 'jeff', 'tweets': []}, {'username': 'bob123', 'tweets': []}, {'username': 'gal', 'tweets': []}, {'username': 'carla', 'tweets': ['Eu amo meu gato']}, {'username': 'samuel', 'tweets': ['Eu adoro bolos', 'Eu adoro pizzas']}, {'username': 'doggo', 'tweets': ['Eu gosto de cachorros', 'Vou sair hoje']}]

Exemplo 2

In [17]:
musicas = [
    {"titulo": "Thunderstruck", "tocou": 3},
    {"titulo": "Dead Skin Mask", "tocou": 2},
    {"titulo": "Back in Black", "tocou": 4},
    {"titulo": "Too old to rock'in roll, too ynoung to die", "tocou": 32}

]

In [19]:
# Ordena da menos tocada para a mais tocada
print(sorted(musicas, key = lambda musica: musica['tocou']))

[{'titulo': 'Dead Skin Mask', 'tocou': 2}, {'titulo': 'Thunderstruck', 'tocou': 3}, {'titulo': 'Back in Black', 'tocou': 4}, {'titulo': "Too old to rock'in roll, too ynoung to die", 'tocou': 32}]

In [18]:
# Ordena da mais tocada para a menos tocada
print(sorted(musicas, key = lambda musica: musica['tocou'], reverse = True))

[{'titulo': "Too old to rock'in roll, too ynoung to die", 'tocou': 32}, {'titulo': 'Back in Black', 'tocou': 4}, {'titulo': 'Thunderstruck', 'tocou': 3}, {'titulo': 'Dead Skin Mask', 'tocou': 2}]