<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/Comprehensions_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List Comprehension**  
- Utilizando list comprehension nós podemos gerar novas listas com dados processados a partir de outro iterável.

# **Parte 01**

Exemplo 1

In [ ]:
numeros = [1, 2, 3, 4, 5]

In [ ]:
res = [numero * 10 for numero in numeros]

In [ ]:
print(res)

[10, 20, 30, 40, 50]

Exemplo 2

In [ ]:
res = [numero / 2 for numero in numeros]
print(res)

[0.5, 1.0, 1.5, 2.0, 2.5]

In [ ]:
def funcao(valor):
  return valor * valor

In [ ]:
res = [funcao(numero) for numero in numeros]

In [ ]:
print(res)

[1, 4, 9, 16, 25]

Exemplo 3 - List comprehension versos Loop

Utilizando Loop

In [ ]:
numeros = [1, 2, 3, 4, 5]
numeros_dobrados = []

In [ ]:
for numero in numeros:
  numero_dobrado = numero * 2
  numeros_dobrados.append(numero_dobrado)

In [ ]:
print(numeros_dobrados)

[2, 4, 6, 8, 10]

Utilizando List Comprehension

In [ ]:
print([numero * 2 for numero in numeros])

[2, 4, 6, 8, 10]

Exemplo 4

In [ ]:
nome = 'Jackson Guedes'

In [ ]:
print([letra.upper() for letra in nome])

['J', 'A', 'C', 'K', 'S', 'O', 'N', ' ', 'G', 'U', 'E', 'D', 'E', 'S']

Exemplo 5

In [ ]:
amigos = ['maria', 'julia', 'pedro','guilherme', 'vanessa']

In [ ]:
def caixa_alta(nome):
  nome = nome.replace(nome[0], nome[0].upper())
  return nome

In [ ]:
print([caixa_alta(amigo) for amigo in amigos])

['Maria', 'Julia', 'Pedro', 'Guilherme', 'Vanessa']

Exemplo 6

In [ ]:
print([numero * 3 for numero in range(1, 10)])

[3, 6, 9, 12, 15, 18, 21, 24, 27]

Exemplo 7

In [ ]:
print([bool(valor) for valor in [0, [], '', True, 1, 3.14]])

[False, False, False, True, True, True]

Exemplo 8

In [ ]:
print([str(numero) for numero in [1, 2, 3, 4, 5]])

['1', '2', '3', '4', '5']

Exemplo 9

In [ ]:
def numeros_pares(num):
  if num % 2 == 0:
    return num
  return 0

In [ ]:
lista = [2, 7, 4, 9, 8, 80, 13]

In [ ]:
print([numeros_pares(numeros) for numeros in lista])

[2, 0, 4, 0, 8, 80, 0]

# **Parte 02**  

Podemos adicionar estruturas condicionais lógicas às list comprehesion

In [1]:
numeros = [1, 2, 3, 4, 5, 6]

In [2]:
pares = [numero for numero in numeros if numero % 2 == 0]
impares = [numero for numero in numeros if numero % 2 != 0]

In [3]:
print(pares)
print(impares)

[2, 4, 6]
[1, 3, 5]

Refatorando  
Qualquer número par módulo de 2 é 0 e 0 em Python é False. not False = True

In [4]:
pares = [numero for numero in numeros if not numero % 2]
impares = [numero for numero in numeros if numero % 2]

In [5]:
print(pares)
print(impares)

[2, 4, 6]
[1, 3, 5]

Outro exemplo

In [6]:
res = [numero * 2 if numero % 2 == 0 else numero / 2 for numero in numeros]
print(res)

[0.5, 4, 1.5, 8, 2.5, 12]