<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/Any_All.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Any e All**   
all() -> Retorna True se todos os elementos do iterável são verdadeiros ou ainda se o iterável está vazio.

Exemplo all()

In [18]:
print(all([0, 1, 2, 3, 4])) # False por causa do zero

False

In [19]:
print(all([1, 2, 3, 4]))

True

In [20]:
print(all([]))

True

Exemplo 2

In [25]:
nomes1 = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristiana', 'Daniel']

In [26]:
print(all([nome[0] == 'C' for nome in nomes1])) # False por causa de 'Daniel'

False

In [27]:
nomes2 = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristiana']

In [28]:
print(all([nome[0] == 'C' for nome in nomes2]))

True

Any() -> Retorna True se qualquer elemento do iterável for verdadeiro. Se o iterável estiver vazio, retorna False

Exemplo 1

In [29]:
print(any([0, 1, 2, 3, 4]))

True

Exemplo 2

In [30]:
print(any([]))

False

Exemplo 3

In [31]:
print(any([0, False, {}, (), []]))

False

In [32]:
nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristiana', 'Vanessa']

In [33]:
print(any([nome[0] == 'C' for nome in nomes]))

True

In [37]:
print(any([num for num in [4, 2, 10, 6, 8, 9] if num % 2 == 0]))

True