<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/Min_e_Max.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Min e Max**   
max() -> Retorna o maior valor em um iterável ou o maior de dois ou mais elemento

Exemplo 1

In [1]:
lista = [1, 8, 4, 99, 34, 129]
print(max(lista))
 # Funciona para tupla e set

 """
 Tupla:

  lista = (1, 8, 4, 99, 34, 129)
  print(max(lista))

 Set:

  lista = {1, 8, 4, 99, 34, 129}
  print(max(lista))

 """

129

In [3]:
# Utilizando dicionário
dicionario = {'a': 1, 'b': 8, 'c': 4, 'd': 99, 'e': 34, 'f': 129}
print(max(dicionario))          # Chave
print(max(dicionario.values())) # Valor

f
129

Fazer um programa que receba dois valores do usuário e mostre o maior

In [7]:
val1 = int(input('Informe o primeiro valor: '))
val2 = int(input('Informe o segundo valor: '))

print(f'\n O maior valor é: {max(val1, val2)}')

Informe o primeiro valor: 78
Informe o segundo valor: 5

 O maior valor é: 78

Outras formas

In [9]:
print(max(4, 67, 54))          # Mais de um valor no parâmetro
print(max('a', 'ab', 'abc'))   # Strigs
print(max('a', 'b', 'c', 'd')) # Strigs
print(max('Jackson Guedes'))   # Strigs
print(max(4.7, 6.7, 54.2))     # Ponto flutuante

67
abc
d
u
54.2

min() -> Retorna o menor valor em um iterável ou o menor de dois ou mais elementos

Tudo que foi aplicado em max() pode ser aplicado em min().

Exemplo 1

In [13]:
nomes = ['Arya', 'Samson', 'Dora', 'Tim', 'Ollivander']

In [14]:
# Leva em consideração a ordem alfabética
print(max(nomes))
print(min(nomes))

Tim
Arya

In [15]:
print(max(nomes, key = lambda nome: len(nome)))
print(min(nomes, key = lambda nome: len(nome)))

Ollivander
Tim

Exemplo 2

In [16]:
musicas = [
    {"titulo": "Thunderstruck", "tocou": 3},
    {"titulo": "Dead Skin Mask", "tocou": 2},
    {"titulo": "Back in Black", "tocou": 4},
    {"titulo": "Too old to rock'in roll, too ynoung to die", "tocou": 32}
]

In [19]:
print(max(musicas, key = lambda musica: musica['tocou']))
print(min(musicas, key = lambda musica: musica['tocou']))

{'titulo': "Too old to rock'in roll, too ynoung to die", 'tocou': 32}
{'titulo': 'Dead Skin Mask', 'tocou': 2}

In [23]:
# DESAFIO! Impprimir somente o título da música mais e menos tocada

print(max(musicas, key = lambda musica: musica['tocou'])['titulo'])
print(min(musicas, key = lambda musica: musica['tocou'])['titulo'])

Too old to rock'in roll, too ynoung to die
Dead Skin Mask

In [33]:
# DESAFIO! Como encontrar a música mais tocada e a menos tocadasem usar max(), min() e lambda?

# Música que mais tocou
max = 0
for musica in musicas:
  if musica['tocou'] > max:
    max = musica['tocou']

for musica in musicas:
  if musica['tocou'] == max:
    print(musica['titulo'])

# Música que menos tocou
min = 99999
for musica in musicas:
  if (musica['tocou'] < min):
    min = musica['tocou']

for musica in musicas:
  if musica['tocou'] == min:
    print(musica['titulo'])

Too old to rock'in roll, too ynoung to die
Dead Skin Mask