<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/AulasPython_Se%C3%A7%C3%A3o_7_Cole%C3%A7%C3%B5es_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Coleções Python - Listas**  
Listas em Python  funciona como vetores/matrizes (arrays) em outras linguagens, com a diferença de serem DINÂMICO e tamanho de podermos colocar QUALQUER tipo de dado.  
- Não possuem  tamanho fixo; Ou seja, podem, os criar a lista e simplesmente ir adicionando  elemento.  
- Qualquer tipo de dado: Não possuem tipo de dado fixo; Ou seja, podemos colocar qualquer tipo de dado.

In [ ]:
# Tipos de listas

lista1 = [1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23]
lista2 = ['j', 'a', 'c', 'k', 's', 'o', 'n']
lista3 = []
lista4 = list(range(11))
lista5 = list('Jackson Guedes')

Podemos facilmente checar se determinado valor está contido na lista

In [ ]:
num = 278
tipo_lista = lista1

if num in tipo_lista:
  print(f'Encontrei o {num}!')
else:
  print(f'Não encontrei o {num}!')

Encontrei o 278!

In [ ]:
procura = 'a'
tipo_lista = lista5

if procura in tipo_lista:
  print(f'Encontrei o {procura}!')
else:
  print(f'Não encontrei o {procura}!')

Encontrei o a!

Ordenando uma lista

In [ ]:
lista1.sort()
print(lista1)

[1, 7, 12, 23, 33, 35, 45, 56, 66, 90, 278]

In [ ]:
lista2.sort() # Se tiver letras maiúsculas na lista, elas serão as primeiras.
print(lista2)

['a', 'c', 'j', 'k', 'n', 'o', 's']

Contando o número de ocorrências de um valor em uma lista

In [ ]:
print(lista1.count(1))
print(lista5.count('e')) # Há diferêncas entre maiúsculas e minúsculas

1
2

Adicionando elementos em uma listas. Para isso, utilizá-se a funçã *append*.

In [ ]:
print(lista1)
lista1.append(23) # Só dá para add um elemento por vez
print(lista1)

[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42]
[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42, 23]

In [ ]:
print(lista1)
lista1.append([45, 66, 79]) # Add um elemento do tipo lista (sublista)
print(lista1)

[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42, 23]
[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42, 23, [45, 66, 79]]

In [ ]:
if [45, 66, 79] in lista1:
  print('Encontrei a lista!')
else:
  print('Não encontrei a lista!')

Encontrei a lista!

In [ ]:
lista1.extend([123, 456, 987])# Mesma função do APPEND, porém add os elementos individualmente
print(lista1)

[1, 45, 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42, 23, [45, 66, 79], 123, 456, 987]

Adicionando um novo elemento na lista informando a posição do índice

In [ ]:
lista1.insert(2, 'Cavalo') # Isso não substitui o valor inicial. O mesmo será deslocado para a direita da lista.
print(lista1)

[1, 45, 'Cavalo', 7, 35, 278, 56, 66, 12, 90, 33, 23, 42, 42, 23, [45, 66, 79], 123, 456, 987]