<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/AulasPython_Se%C3%A7%C3%A3o_7_Cole%C3%A7%C3%B5es_Python_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Módulo Collections - Counter (Contador)**  
Collections -> High-performance Datetypes  

Counter -> Recebe um interável como parâmetro e cria um objeto do tipo Collections Counter que é parecido com um dicionário, contendo como chave o elemento da lista passada como parâmetro e como valor a quantidade de ocorrências desse elemento.

Utilizando o Counter

Exemplo 1

In [3]:
from collections import Counter # Realizando o import

In [4]:
lista = [1, 1, 1, 2, 2, 3, 3, 3, 3, 1, 1, 2, 2, 4, 4, 4, 5, 5, 5, 3, 45, 45, 66, 66, 43, 34] # Podemos usar qualquer iterável. Neste caso, uma lista.

In [5]:
res = Counter(lista)
print(type(res))
print(res) # Elemento 1, 5 ocorrências

<class 'collections.Counter'>
Counter({1: 5, 3: 5, 2: 4, 4: 3, 5: 3, 45: 2, 66: 2, 43: 1, 34: 1})

Exemplo 2

In [6]:
print(Counter('Jackson Guedes'))

Counter({'s': 2, 'e': 2, 'J': 1, 'a': 1, 'c': 1, 'k': 1, 'o': 1, 'n': 1, ' ': 1, 'G': 1, 'u': 1, 'd': 1})

Exemplo 3

In [8]:
texto = """
⁵ De sorte que haja em vós o mesmo sentimento que houve também em Cristo Jesus,
⁶ Que, sendo em forma de Deus, não teve por usurpação ser igual a Deus,
⁷ Mas esvaziou-se a si mesmo, tomando a forma de servo, fazendo-se semelhante aos homens;
⁸ E, achado na forma de homem, humilhou-se a si mesmo, sendo obediente até à morte, e morte de cruz.
⁹ Por isso, também Deus o exaltou soberanamente, e lhe deu um nome que é sobre todo o nome;
¹⁰ Para que ao nome de Jesus se dobre todo o joelho dos que estão nos céus, e na terra, e debaixo da terra,
¹¹ E toda a língua confesse que Jesus Cristo é o Senhor, para glória de Deus Pai.

Filipenses 2:5-11

"""

In [9]:
palavras = texto.split()
res = Counter(palavras)

In [10]:
print(res)

Counter({'que': 6, 'de': 6, 'o': 5, 'a': 5, 'e': 4, 'em': 3, 'forma': 3, 'também': 2, 'Cristo': 2, 'sendo': 2, 'Deus,': 2, 'si': 2, 'mesmo,': 2, 'na': 2, 'Deus': 2, 'nome': 2, 'é': 2, 'todo': 2, 'Jesus': 2, 'terra,': 2, '⁵': 1, 'De': 1, 'sorte': 1, 'haja': 1, 'vós': 1, 'mesmo': 1, 'sentimento': 1, 'houve': 1, 'Jesus,': 1, '⁶': 1, 'Que,': 1, 'não': 1, 'teve': 1, 'por': 1, 'usurpação': 1, 'ser': 1, 'igual': 1, '⁷': 1, 'Mas': 1, 'esvaziou-se': 1, 'tomando': 1, 'servo,': 1, 'fazendo-se': 1, 'semelhante': 1, 'aos': 1, 'homens;': 1, '⁸': 1, 'E,': 1, 'achado': 1, 'homem,': 1, 'humilhou-se': 1, 'obediente': 1, 'até': 1, 'à': 1, 'morte,': 1, 'morte': 1, 'cruz.': 1, '⁹': 1, 'Por': 1, 'isso,': 1, 'exaltou': 1, 'soberanamente,': 1, 'lhe': 1, 'deu': 1, 'um': 1, 'sobre': 1, 'nome;': 1, '¹⁰': 1, 'Para': 1, 'ao': 1, 'se': 1, 'dobre': 1, 'joelho': 1, 'dos': 1, 'estão': 1, 'nos': 1, 'céus,': 1, 'debaixo': 1, 'da': 1, '¹¹': 1, 'E': 1, 'toda': 1, 'língua': 1, 'confesse': 1, 'Senhor,': 1, 'para': 1, 'glória': 1, 'Pai.': 1, 'Filipenses': 1, '2:5-11': 1})

Econtrando as cijnco palavras com mais ocorrências

In [11]:
print(res.most_common(5))

[('que', 6), ('de', 6), ('o', 5), ('a', 5), ('e', 4)]