<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/AulasPython_Se%C3%A7%C3%A3o_7_Cole%C3%A7%C3%B5es_Python_Conjuntos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Conjuntos (sets)**  
Em qualquer linguagem de programação, estamos fazendo referência à Teoria dos Conjuntos da matemática.  
- Em Python os conjuntos são chamados de Sets.  
São utilizados quando se precisa armazena elementos sem levar em consideração a ordenação dos mesmos. Além disso, é utilizado quando não precisa preocupar-se com chaves, valores e itens duplicados.  
Os conjuntos são referenciados em Python com chaves {}  
- Um dicionário tem chave/valor;
- Um conjunto tem apenas valor;

Definindo conjuntos:  
Forma 1

In [ ]:
s = set({1, 2, 3, 4, 5, 5, 1, 7})

In [ ]:
print(s) # Ao criar um conjunto, caso seja adicionado um val,or já existente, o mesmo será ignorado sem gerar error e não fará parte do conjunto.
print(type(s))

{1, 2, 3, 4, 5, 7}
<class 'set'>

Forma 2

In [9]:
s = {1, 2, 3, 3, 2, 1}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

Verificando se determinado elemento está contido no conjunto

In [10]:
if 13 in s:
  print('Tem o 3')
else:
  print('Não tem o 3')

Não tem o 3

Importante lembrar que, além de não termos valores duplicados, não temos ordem:

In [16]:
lista = [99, 2, 34, 23, 2, 12, 1, 44, 5, 34]
print(f'Lista: {lista} com {len(lista)} elementos') # Aceitam valores duplicados, então temos 10 elementos

Lista: [99, 2, 34, 23, 2, 12, 1, 44, 5, 34] com 10 elementos

In [17]:
tupla= 99, 2, 34, 23, 2, 12, 1, 44, 5, 34
print(f'Tupla: {tupla} com {len(tupla)} elementos') # Aceitam valores duplicados, então temos 10 elementos

Tupla: (99, 2, 34, 23, 2, 12, 1, 44, 5, 34) com 10 elementos

In [18]:
dicionario = {}.fromkeys([99, 2, 34, 23, 2, 12, 1, 44, 5, 34], 'dict') # Não aceitam valores duplicados, então temos 8 elementos
print(f'Dicionário: {dicionario} com {len(dicionario)} elementos')

Dicionário: {99: 'dict', 2: 'dict', 34: 'dict', 23: 'dict', 12: 'dict', 1: 'dict', 44: 'dict', 5: 'dict'} com 8 elementos

In [19]:
conjunto = {99, 2, 34, 23, 2, 12, 1, 44, 5, 34} # Não aceitam valores duplicados, então temos 8 elementos
print(f'Conjunto: {conjunto} com {len(conjunto)} elementos')

Conjunto: {1, 2, 99, 34, 5, 12, 44, 23} com 8 elementos

### Usos interessantes com SETS

Imagine um formulário de cadastro de visitantes em uma feira ou museu, onde os visitantes informam manualmente a cidade de onde vieram.  
Adiciona-se as cidades em uma lista, já que na lista permite repetição e adicionar elementos.

In [23]:
cidades_visitantes = ['Belo Horizonte', 'São Paulo', 'Campina Grande', 'Condado', 'Campina Grande', 'Belo Horizonte']
print(cidades_visitantes)
print(f'Quantidade de visitantes: {len(cidades_visitantes)} pessoas distintas')

['Belo Horizonte', 'São Paulo', 'Campina Grande', 'Condado', 'Campina Grande', 'Belo Horizonte']
Quantidade de visitantes: 6 pessoas distintas

Agora precisamos saber a quantas cidades distintas.

In [24]:
print(f'Cidades distintas: {len(set(cidades_visitantes))}') # Utilizar o set para fazer essa contagem. Pois, ele não admite recepções

Cidades distintas: 4

Adicionando elementos em um conjunto

In [25]:
s = {1, 2, 3}
print(s)

s.add(4)
print(s)

{1, 2, 3}
{1, 2, 3, 4}

Removendo elementos  
Froma 1

In [29]:
s = {1, 2, 3, 4, 5}
print(s)

s.remove(3) # Valor a ser removido: nº 3. Além disso, se tentar remover um valor que não existe, mensagem KeyError
print(s)

{1, 2, 3, 4, 5}
{1, 2, 4, 5}

Forma 2

In [30]:
s.discard(2) # Se tentar remover valor que não exixte, não aparecerá mensagem KeyError
print(s)

{1, 4, 5}

## Métodos Matemáticos de Conjuntos  

### Imagine dois conjuntos: um contendo estudantes do curso Python e um contendo estudantes do curso de Java.

In [37]:
estudantes_python = {'Marcos', 'Patricia', 'Ellen', 'Pedro', 'Julia', 'Guilherme'}
estudantes_java = {'Fernando', 'Gustavo', 'Julia', 'Ana', 'Patricia'}

Gerando um conjunto com os nomes de estudantes únicos

Forma 1 - Utilizando *union*

In [33]:
unicos1 = estudantes_python.union(estudantes_java)
print(unicos1)

{'Pedro', 'Fernando', '`Patricia', 'Guilherme', 'Marcos', 'Gustavo', 'Ana', 'Ellen', 'Julia', 'Patricia'}

Forma 2 - Utilizando o caractere pipe |

In [35]:
unicos2 = estudantes_python | estudantes_java
print(unicos2)

{'Pedro', 'Fernando', '`Patricia', 'Guilherme', 'Marcos', 'Gustavo', 'Ana', 'Ellen', 'Julia', 'Patricia'}

Gerar um conjunto de estudantes que estão em ambos os cursos

Forma 1 - Utilizando *intersection*

In [38]:
ambos1 = estudantes_python.intersection(estudantes_java)
print(ambos1)

{'Julia', 'Patricia'}

Gerando um conjunto de estudantes que não estão no outro curso

In [40]:
so_python = estudantes_python.difference(estudantes_java)
print(so_python)

{'Pedro', 'Guilherme', 'Marcos', 'Ellen'}