<a href="https://colab.research.google.com/github/jacksonguedes/BasicPython/blob/main/AulasPython_Se%C3%A7%C3%A3o_7_Cole%C3%A7%C3%B5es_Python_Collections04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Módulo Collections - Named Tuple**  
Named Tuple -> São tuplas diferenciadas, onde especificamos um nome para a mesma e também parâmetros.

In [3]:
from collections import namedtuple

Definindo um nome e parâmetro

Forma 1 - Declaração Named Tuple

In [4]:
cachorro = namedtuple('cachorro','idade raça nome')

Forma 2 - Declaração Named Tuple

In [5]:
cachorro = namedtuple('cachorro','idade, raça, nome')

Forma 3 - Declaração Named Tuple

In [6]:
cachorro = namedtuple('cachorro',['idade', 'raça', 'nome'])

Aplicando

In [8]:
ray = cachorro(idade = 2, raça = 'Chow-Chow', nome = 'Ray')
print(ray)

cachorro(idade=2, raça='Chow-Chow', nome='Ray')

Acessando os dados

Forma 1

In [9]:
print(ray[0])  # Idade
print(ray[1])  # Raça
print(ray[2])  # Nome

2
Chow-Chow
Ray

Forma 2

In [10]:
print(ray.idade)
print(ray.raça)
print(ray.nome)

2
Chow-Chow
Ray

Pelo index

In [11]:
print(ray.index('Chow-Chow'))

1

In [13]:
print(ray.count('Chow-Chow')) # Nº de ocorrências

1